In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split


import warnings
warnings.filterwarnings('ignore')


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
description_df = pd.read_excel('LCDataDictionary.xlsx')

In [3]:
description_df.head()

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.

In [1]:
# Reading the raw data provided by Lending Club
df = pd.read_csv("loan.csv")

C:\Users\sebas\AppData\Local\Temp\ipykernel_17688\1444070096.py:2: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("loan.csv")

In [2]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(2260668, 145)

In [5]:
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
100,NaN,NaN,30000,30000,30000.0,36 months,22.35,1151.16,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
152,NaN,NaN,40000,40000,40000.0,60 months,16.14,975.71,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,20000,20000,20000.0,36 months,7.56,622.68,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,4500,4500,4500.0,36 months,11.31,147.99,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
215,NaN,NaN,8425,8425,8425.0,36 months,27.27,345.18,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
loan.shape

(1303607, 145)

In [7]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1303607 entries, 100 to 2260664
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 1.4+ GB

In [8]:
loan.loan_status.value_counts()

loan_status
Fully Paid     1041952
Charged Off     261655
Name: count, dtype: int64

In [11]:
import pandas as pd
from scipy.stats import chisquare

# Population proportions
population_counts = loan['loan_status'].value_counts()
population_proportions = population_counts / population_counts.sum()

# Observed counts in the sample
sample_counts = loan_balanced['loan_status'].value_counts()

# Expected counts in the sample based on population proportions
expected_counts = population_proportions * len(loan_balanced)

# Perform Chi-Square Goodness-of-Fit Test
chi_square_stat, p_value = chisquare(f_obs=sample_counts, f_exp=expected_counts)

print(f"Chi-Square Statistic: {chi_square_stat}")
print(f"P-Value: {p_value}")

# Interpret the results
alpha = 0.05  # Significance level
if p_value < alpha:
    print("Reject the null hypothesis: The sample is not representative of the population.")
else:
    print("Fail to reject the null hypothesis: The sample is representative of the population.")

Chi-Square Statistic: 37132.31385218022
P-Value: 0.0
Reject the null hypothesis: The sample is not representative of the population.

In [12]:
# Calculate population proportions
population_counts = df['loan_status'].value_counts()
population_proportions = population_counts / population_counts.sum()

print(population_proportions)

loan_status
Fully Paid                                             0.460904
Current                                                0.406824
Charged Off                                            0.115742
Late (31-120 days)                                     0.009686
In Grace Period                                        0.003960
Late (16-30 days)                                      0.001653
Does not meet the credit policy. Status:Fully Paid     0.000879
Does not meet the credit policy. Status:Charged Off    0.000337
Default                                                0.000014
Name: count, dtype: float64

In [20]:
# Adjust sample size for each class
target_size = 300000  # Desired total sample size

# Calculate the number of samples for each class based on population proportions
sample_sizes = (population_proportions * target_size).astype(int)

# Perform stratified sampling for each class
samples = []
for status, count in sample_sizes.items():
    samples.append(df[df['loan_status'] == status].sample(n=count, random_state=42))

# Combine the samples
loan_representative = pd.concat(samples)

# Shuffle the final dataset
loan_representative = loan_representative.sample(frac=1, random_state=42).reset_index(drop=True)

# Verify the class distribution
print(loan_representative['loan_status'].value_counts(normalize=True))

loan_status
Fully Paid                                             0.460913
Current                                                0.406831
Charged Off                                            0.115742
Late (31-120 days)                                     0.009684
In Grace Period                                        0.003957
Late (16-30 days)                                      0.001650
Does not meet the credit policy. Status:Fully Paid     0.000877
Does not meet the credit policy. Status:Charged Off    0.000333
Default                                                0.000013
Name: proportion, dtype: float64

In [21]:
from scipy.stats import chisquare

# Observed counts in the new sample
sample_counts = loan_representative['loan_status'].value_counts()

# Expected counts in the sample based on population proportions
expected_counts = population_proportions * len(loan_representative)

# Perform Chi-Square Goodness-of-Fit Test
chi_square_stat, p_value = chisquare(f_obs=sample_counts, f_exp=expected_counts)

print(f"Chi-Square Statistic: {chi_square_stat}")
print(f"P-Value: {p_value}")

# Interpret the results
if p_value < 0.05:
    print("Sample is still not representative of the population.")
else:
    print("Sample is now representative of the population.")

Chi-Square Statistic: 0.01794205665173798
P-Value: 0.9999999997320577
Sample is now representative of the population.

In [22]:
loan = loan_representative[(loan_representative.loan_status== 'Charged Off')|(loan_representative.loan_status== 'Fully Paid')]

In [27]:
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
1,NaN,NaN,10000,10000,10000.0,60 months,7.49,200.34,A,A4,Senior Director of Digital Strategy,< 1 year,RENT,150000.0,Source Verified,Jan-2015,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,902xx,CA,7.32,4.0,Feb-2002,0.0,14.0,NaN,9.0,0.0,11883,48.3,22.0,w,0.0,0.0,11241.522122,11241.52,10000.00,1226.52,15.00,0.0,0.0,Jan-2017,7042.70,NaN,Jan-2017,0.0,14.0,1,Individual,NaN,NaN,NaN,0.0,0.0,57867.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24600.0,NaN,NaN,NaN,0.0,7233.0,12717.0,48.3,0.0,0.0,117.0,155.0,28.0,28.0,0.0,28.0,16.0,NaN,14.0,1.0,2.0,2.0,4.0,6.0,12.0,5.0,9.0,2.0,9.0,0.0,0.0,1.0,0.0,75.0,0.0,0.0,0.0,92242.0,57867.0,24600.0,63670.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,25000,25000,25000.0,36 months,5.32,752.87,A,A1,NaN,NaN,MORTGAGE,100000.0,Not Verified,Mar-2016,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,082xx,NJ,15.23,1.0,Sep-1996,0.0,20.0,NaN,14.0,0.0,25508,33.7,28.0,w,0.0,0.0,26541.646195,26541.65,25000.00,1541.65,0.00,0.0,0.0,Aug-2017,14503.12,NaN,Sep-2017,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,337178.0,0.0,2.0,1.0,1.0,10.0,26298.0,66.0,1.0,5.0,15403.0,45.0,75700.0,0.0,1.0,1.0,6.0,24084.0,46092.0,35.6,0.0,0.0,141.0,234.0,7.0,7.0,5.0,13.0,20.0,10.0,20.0,0.0,4.0,4.0,9.0,11.0,8.0,11.0,15.0,4.0,14.0,0.0,0.0,0.0,2.0,92.9,0.0,0.0,0.0,416802.0,51806.0,71600.0,39649.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,34025,34025,34025.0,60 months,18.55,874.23,E,E2,Director TechOps,10+ years,OWN,204000.0,Verified,Sep-2015,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,22.07,0.0,Oct-1996,1.0,NaN,NaN,14.0,0.0,13561,48.3,18.0,w,0.0,0.0,23613.440000,23613.44,11027.69,12542.04,43.71,0.0,0.0,May-2018,920.00,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,71093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28100.0,NaN,NaN,NaN,3.0,5078.0,2963.0,67.1,0.0,0.0,34.0,227.0,5.0,3.0,0.0,40.0,NaN,1.0,NaN,0.0,4.0,9.0,4.0,5.0,3.0,11.0,15.0,9.0,14.0,0.0,0.0,0.0,2.0,100.0,25.0,0.0,0.0,122300.0,71093.0,9000.0,94200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,8550,8550,8550.0,36 months,13.44,289.90,C,C3,President,3 years,RENT,100000.0,Source Verified,Jan-2016,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,125xx,NY,5.46,0.0,Nov-2004,0.0,57.0,58.0,5.0,1.0,2478,49.6,12.0,f,0.0,0.0,10233.772175,10233.77,8550.00,1683.77,0.00,0.0,0.0,Feb-2018,3282.55,NaN,Feb-2019,0.0,57.0,1,Individual,NaN,NaN,NaN,0.0,0.0,11915.0,0.0,1.0,0.0,2.0,15.0,9437.0,81.0,1.0,3.0,1717.0,72.0,5000.0,1.0,1.0,3.0,5.0,2383.0,2522.0,49.6,0.0,0.0,134.0,111.0,10.0,10.0,1.0,10.0,NaN,2.0,NaN,0.0,4.0,4.0,4.0,5.0,6.0,4.0,5.0,4.0,5.0,0.0,0.0,0.0,1.0,91.7,25.0,0.0,1.0,16603.0,11915.0,5000.0,11603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,5450,5450,5450.0,36 months,15.61,190.56,D,D1,Administrative Assistant,4 years,RENT,40000.0,Verified,Oct-2014,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,902xx,CA,11.22,0.0,Apr-2005,0.0,NaN,NaN,15.0,0.0,3878,99.4,16.0,f,0.0,0.0,6849.140830,6849.14,5450.00,1399.14,0.00,0.0,0.0,Oct-2017,191.36,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,84.0,29834.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3900.0,NaN,NaN,NaN,4.0,1989.0,22.0,99.4,0.0,0.0,43.0,114.0,15.0,12.0,0.0,15.0,NaN,NaN,NaN,0.0,5.0,5.0,5.0,6.0,10.0,5.0,6.0,5.0,15.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,27817.0,29834.0,3900.0,23917.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
loan.shape

(172993, 145)

In [25]:
loan['loan_status'].value_counts(normalize=True)

loan_status
Fully Paid     0.799287
Charged Off    0.200713
Name: proportion, dtype: float64